<form class="form">
  <h3 class="form__title">
    Авторизация
  </h3>
  <div class="form__group">
    <input type="text" id="form__name__filed" class="form__input" placeholder=" " required>
    <label class="form__label" for= "form__name__filed">Имя</label>
  </div>
  <div class="form__group">
    <input type="password" id="form__password__filed" class="form__input" placeholder=" ">
    <label class="form__label" for="form__password__filed">Пароль</label>
  </div>
  <div class="form__group">
    <button class="form__submit">Войти</button>
  </div>
</form>
