@import "src/assets/css/style";

.form {
  padding: 32px;
  color: $regularTextColor;
  background: $formBackgroundColor;
  border: 2px solid $formBackgroundColor;
  border-radius: 4px;
  box-shadow: 0 8px 8px slategrey;
  .form__title {
    text-align: center;
    margin-bottom: 32px;
  }
  .form__group {
    position: relative;
    margin-bottom: 32px;
  }
  .form__label {
    position: absolute;
    top: 0;
    left: 0;
    color: $labelTextColor;
    padding: 16px 12px;
    font-size: 16px;
    transition: 0.2s;
  }
  .form__input {
    width: 100%;
    height: 48px;
    padding: 0 12px;
    background-color: rgba($formFiledBackground, 0.15);
    border: none;
    border-bottom: 1px solid $formFieldBottom;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;
    color: $regularTextColor;
    font-size: 16px;
  }
  .form__input:hover {
    background-color: rgba($formFiledBackground, 0.25)
  }
  .form__input:focus {
    border-bottom: 1px solid $focusedFormFieldBottom;
  }

  .form__input:focus ~ .form__label,
  .form__input:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    font-size: 12px;
    margin-top: 2px;
  }

  .form__error {
    font-size: 12px;
    color: #e84640;
  }

  .form__error__icon {

  }

  .form__submit {
    padding: 12px 24px;
    color: $regularTextColor;
    border: none;
    border-radius: 4px;
    background: $formButton;
  }
  .form__submit:active {
    background-color: rgba($formButton, 0.75);
  }
}
