@import "./null";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: normal;
}

body {
  background: $background;
}

h3{
  font-weight: 400;
  font-size: 24px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filed {
  width: 450px;
  height: 450px;
}

.form {
  padding: 32px;
  color: $regularTextColor;
  background: $formBackgroundColor;
  border: 2px solid $formBackgroundColor;
  border-radius: 4px;
  box-shadow: 0 8px 8px slategrey;
  .form__title {
    text-align: center;
    margin-bottom: 32px;
  }
  .form__group {
    position: relative;
    margin-bottom: 32px;
    .form__label {
      position: absolute;
      top: 0;
      left: 0;
      color: $labelTextColor;
      padding: 12px 6px;
      font-size: 16px;
      transition: 0.2s;
      cursor: text;
    }
    .form__label::selection {
      background-color: transparent;
    }
    .form__input {
      width: 100%;
      height: 48px;
      padding: 0 12px;
      background-color: rgba($formFiledBackground, 0.15);
      border: none;
      border-bottom: 1px solid $formFieldBottom;
      border-radius: 4px 4px 0 0;
      outline: none;
      transition: 0.2s;
      color: $regularTextColor;
      font-size: 16px;
    }
    .form__input:hover {
      background-color: rgba($formFiledBackground, 0.25);
    }
    .form__input:focus {
      border-bottom: 2px solid $focusedFormFieldBottom;
    }

    .form__input:focus ~ .form__label,
    .form__input:not(:placeholder-shown) ~ .form__label {
      top: -18px;
      font-size: 12px;
      margin-top: 2px;
    }

    .ng-touched.ng-invalid {
      border-bottom: 1px solid $errorColor;
    }

    .form__error {
      font-size: 12px;
      color: $errorColor;
    }

    .form__submit {
      padding: 12px 24px;
      color: $regularTextColor;
      border: none;
      border-radius: 4px;
      background: $formButton;
    }

    .form__submit:active {
      background-color: rgba($formButton, 0.75);
    }

  }

}
