$regularTextColor: #ffffff;
$formBackgroundColor: #0d0f17;
$labelTextColor: #9d9daf;
$formFiledBackground: #848595;
$formFieldBottom: #848595;
$focusedFormFieldBottom: #006ac7;
$formButton: #006ac7;
$disabledFormButton: #2e9dff;
$background: #e6e6e6;
$errorColor: #e84640;
